:root {
    --fcg-green: #81bb4e;
}

@font-face { /* https://github.com/garrettboatman/ForTheWolf/blob/master/fonts/Futura-Medium.woff */
    font-family: Futura;
    src: url('/Fonts/Futura-Medium.woff') format("WOFF");
    font-weight: normal;
}
  
@font-face { 
    font-family: Futura-Book;
    src: url('/Fonts/Futura-Book.woff') format("WOFF");
    font-weight: normal;
}

@font-face { 
    font-family: Consolas;
    src: url('/Fonts/Consolas.woff') format("WOFF");
    font-weight: normal;
}

/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {  
    /* font-family: Consolas; */
}

main {
    /* border-style: dotted; */
    margin-bottom: 100px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* NAVBAR STYLING */
.navbar {
    /* border-style: dotted; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    color: black;
}

.nav-links a {
    font-family: Consolas;
    color: black;
}

/* LOGO */
.logo {
    /* font-size: 30px; */
    cursor: pointer;
    margin-left: 25px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    margin-right: 50px;
}

.menu li:hover {
    background-color: var(--fcg-green);
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li a:hover {
    color: white;
}

.menu li {
    padding: 6.5px 14px;
}

/* COORDINATION REQUESTS - DROPDOWN MENU */
.rf-requests {
    /* border-style: dotted; */
    position: relative;
}

.dropdown {
    /* border-style: dotted; */
    background-color: #dbdbdb;
    padding: 0 0;
    position: absolute;     /* with respect to parent */
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li a + li {
    /* border-style: dotted; */
    margin-top: 0px;
}

.dropdown li {
    /* border-style: dotted; */
    /* padding: 0.5em; */
    width: 18em;
    text-align: center;
}

.dropdown li:hover {
    /* border-style: dotted; */
    background-color: var(--fcg-green);
}

.dropdown-menu:hover .dropdown {
    /* transition-delay: 1s; */
    /* border-style: dotted; */
    display: block;
    background-color: #dbdbdb;
}

/* RESPONSIVE NAVBAR */
.hack { /* input */
    display: none
}

/* HAMBURGER MENU */
.hamburger {
    background-color: white;
    display: none;
    font-size: 24px;
    user-select: none;
    cursor: pointer;
    margin-right: 100px;
}

/* MEDIA QUERIES */
@media (max-width: 1075px) {
    .menu {
        display: none;
        position: absolute;
        background-color: white;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        margin-top: 50px;
        width: 100%;
    }

    .menu li:hover {
        cursor: pointer;
        display: inline-block;
        background-color: var(--fcg-green);
        transition: 0.3s ease;
    }

    .menu li + li {
        margin-top: 12px;
    }

    .hack:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        /* left: 50%; */
        top: 34px;
        /* transform: translateX(10%); */
    }

    .dropdown li:hover {
        background-color: var(--fcg-green);
    }
}



/* PAGE DEFAULT */
.page-header{
    /* border-style: dotted; */
    /* border-radius: 20px; */
    text-align: center;
    width: fit-content;
    margin: 20px auto 10px auto;
}

#page-title {
    /* border-style: dotted; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: Consolas;
    width: fit-content;
    font-size: 4.5vw;
    margin: 30px auto auto auto;
    padding: 20px;
}

#page-subtitle {
    /* border-style: dotted; */
    width: fit-content;
    margin: 10px auto auto auto;
    padding: 20px;
    font-family: Futura-Book;
    color: #81BB4E;
    font-size: 4vw;
}

#page-desc {
    /* border-style: dotted; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    width: 100%;
    margin: 10px auto auto auto;
    padding: 20px;
    font-family: Consolas;
    font-size: 1.5vw;
    word-wrap: break-word;
}


/* CONTACT BUTTON */
.contact-button {
    background-color: white;
    border: 0.25vw solid black;
    border-radius: 15px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    cursor: pointer;
    margin: 35px auto 100px auto;
}

.contact-button:hover {
    box-shadow: 0 5px 16px 0 rgba(173, 173, 173, 0.24),0 17px 25px 0 rgba(173, 173, 173, 0.24);
    transition: all 0.3s ease 0s;
    border: 0.25vw solid #81BB4E;
    border-radius: 15px;
    background-color: #81BB4E;
    color: white;
}


/* FOOTER */
footer {
    /* border-style: dotted; */
    /* position: absolute; */
    bottom: 0;
    padding: 10px 10px 15px 10px;
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* margin: 100px 0px 20px 0px; */
    background-color: white;
    border-top: 1px solid black;
}

.footer-credits {
    font-family: Consolas;
    font-size: 1vw;
    /* padding: 10px; */
    /* margin: 45px, 25px, 10px, 25px; */
    margin-top: 25px;
}

#copyright {
    color: black;
    text-decoration: none;
}

/* SOCIAL LINKS & ICONS */
.social-links {
    /* border-style: dotted; */
    position: static;
    padding: 10px 10px 0px 10px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    bottom: 0;
    text-align: center;
}

.social-icon {
    width: 1vw;
    padding: 10px;
    text-decoration: none;
}

/* -------------------------------------------------------------------------------------------- */

/* CONTACT FORM */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: Consolas;
    font-size: 18px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #81BB4E;
    color: white;
    padding: 12px 20px;
    /* border: none; */
    border: 0.25vw solid #81BB4E; 
    border-radius: 4px;
    cursor: pointer;
    font-family: Futura-Book;
    font-size: 24px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: white;
    color: #81BB4E;
    border: 0.25vw solid #81BB4E; 
    border-radius: 4px;
}

/* Add a background color and some padding around the form */
.container {
    margin: auto;
    width: 50%;
    border: 3px solid #81BB4E;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-family: Futura-Book;
    /* font-size: 24px; */
}

form {
    background-color: #f2f2f2;
}

label {
    background-color: #f2f2f2;
}

#contact-email {
    background-color: #f2f2f2;
    font-family: Futura-Book;
    font-size: 1.5vw;
}






/* CREDITS / HELP

Responsive navbar: https://www.makeuseof.com/responsive-navigation-bar-using-html-and-css/ 
Contact form: /* https://www.w3schools.com/howto/howto_css_contact_form.asp 

*/